*{
	padding:0;
	margin:0;
}
ul,li ol{
	list-style: none;
}
a{
	text-decoration: none;
}
#text{
    resize: none;
    border-top: 1px solid #d2d2d2;
    outline: none;
    overflow: scroll;
    padding: 0 1px;
    box-sizing: border-box;
    height: 720px;
    width: 100%;
}
.title{
    margin-left: 10px;
    width: 60px;
    height: 35px;
    display: inline-flex;
    text-align: center;
}
.title:hover .titlef{
    display: block;
}
.titlef>li{
    height: 22px;
    line-height: 22px;
}
.titlef>li:hover{
    background-color:  #99d1ff;
}
.titlef{
    display: none;
    font-size: 0.8em;
    position:absolute;
    margin-top: 30px;
    background-color: #e6e6e6;
    width: 202px;
    border: 1px solid #d7d7d7;
}
.title:hover{
    background-color:#cce8ff;
}


.notepad-dlg-font{
    z-index: 10;
    width: 100%;
    height: 750px;
    top: 0;
    position: absolute;
} 
.dialogbox{
    position: relative;
    height: 498px;
    width: 438px;
    border: 1px solid rgb(153, 152, 152);
    top: 100px;
    left: 500px;
}
.notepad-dlg-titlebar{
    height: 30px;
    background-color: white;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.botbox{
    background-color: rgb(240, 239, 239);
    height: 438px;
    padding: 15px;
}
.font-family{
    width: 40%;
    display: inline-block;
}
.editor{
    width: 100%;
    height: 20px;
}
.list{
    width: 100%;
    background-color: white;
    height: 140px;
    overflow-y: scroll;
    border: 1px solid gainsboro;
}
.list>li{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding-left: 5px;
}
.font-style{
    width: 30%;
    display: inline-block;
    margin-left: 15px;
}
.font-size{
    width: 15%;
    margin-left: 15px;
    display: inline-block;
}
.sample{
    border-color: white;
    height: 78px;
    margin-left: 196px;
    margin-top: 28px;
    width: 194px;
}
.script{
    margin-left: 196px;
    margin-top: 12px;
}
select {
    height: 22px;
    width: 214px;
}
.btn-ok {
    bottom: 10px;
    width: 80px;
    height: 30px;
    position: absolute;
    right: 120px;
  }
.btn-cancel {
    bottom: 10px;
    width: 80px;
    height: 30px;
    position: absolute;
    right: 16px;
}
.active{
    background-color: #0078d7;
    color: white;
}